#sec-04 {
  padding-top: 2.9rem;
  padding-bottom: 5rem;
  background-image: url("img/sec-04/bg-lines.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.sec-04__title {
  font-family: TinkovEB;
  font-size: pxToRem(36px);
  color: #28292d;
  text-align: center;
  text-transform: uppercase;
}

// list
#sec-04 .row:first-of-type [class*=col-]:first-of-type {
  margin-bottom: 1.8rem;
}

.sec-04__list-title {
  font-family: TinkovEB;
  font-size: pxToRem(20px);
  text-align: center;
  margin-bottom: 1.6rem;
}

#sec-04 .list {
  margin: auto;
  width: 62%;
}

.list__item {
  display: flex;
  margin-bottom: .9rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.list__item-content {
  width: 89%;
}

.list__arrow {
  width: 4px;
  margin-right: 1.1rem;
  margin-top: .2rem;
}

.list__paragraph {
  font-family: TinkovL;
  line-height: 1.5;
}

//
#sec-04 .row:first-of-type {
  margin-bottom: 3.4rem;
}

.sec-04__bot-subtitle {
  font-family: TinkovEB;
  font-size: pxToRem(20px);
  text-align: center;
  margin-bottom: 1.3rem;
}

.sec-04__bot-paragraph {
  font-family: TinkovL;
  text-align: center;
  line-height: 1.5;
  margin-bottom: .4rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.sec-04__picture {
  display: block;
  width: 100%;
  position: relative;
  height: pxToRem(289px);
}

.sec-04__img {
  position: absolute;
  top: 1.5rem;
  right: -.96rem;
}

@media (min-width: 768px) {
  #sec-04 {
    padding-top: 3rem;
    padding-bottom: 5.9rem;
    background-image: url("img/sec-04/bg-lines-md.png");
  }

  .sec-04__title {
    font-size: pxToRem(48px);
    padding: 0 6rem;
  }

  .sec-04__list-title {
    font-size: pxToRem(24px);
  }

  #sec-04 .row:first-of-type [class*=col-]:first-of-type {
    margin-bottom: 2.7rem;
  }

  #sec-04 .list {
    width: 84%;
    display: flex;
    justify-content: space-around;
  }

  #sec-04 .list__item {
    width: 29%;
  }

  .sec-04__bot-subtitle {
    font-size: pxToRem(24px);
    margin-bottom: 1rem;
  }

  #sec-04 .row:first-of-type {
    margin-bottom: 2.3rem;
  }

  .sec-04__bot-paragraph {
    letter-spacing: .1px;
  }

  #sec-04 .row:last-child [class*=col-]:first-child {
    margin-bottom: 2.2rem;
  }

  .sec-04__picture {
    display: flex;
    justify-content: center;
    min-height: pxToRem(440px);
  }

  .sec-04__img {
    position: static;
    top: 0;
    left: -.4rem;
  }
}

@media (min-width: 1200px) {
  #sec-04 {
    padding-bottom: 7.1rem;
    background-image: url("img/sec-04/bg-lines-lg.png");
  }

  .sec-04__title {
    text-align: left;
    padding: 0;
  }

  #sec-04 .row:first-of-type [class*=col-]:first-of-type {
    margin-bottom: 0;
  }

  .sec-04__list-title {
    text-align: left;
    padding: 0 0 0 .4rem;
    margin-top: 1.5rem;
  }

  #sec-04 .list {
    width: 100%;
    flex-direction: column;
    padding: 0 0 0 .4rem;
  }

  .list__arrow {
    margin-right: 1.3rem;
  }

  #sec-04 .list__item {
    width: 35%;
  }

  #sec-04 .row:first-of-type {
    margin-bottom: 4.7rem;
  }

  .sec-04__bot-subtitle {
    text-align: left;
  }

  .sec-04__bot-paragraph {
    text-align: left;
  }

  .sec-04__bottom-text-container {
    padding-top: 7.8rem;
  }

  .sec-04__bot-paragraph {
    margin-bottom: .6rem;
  }
}
