#sec-06 {
  padding-top: 5.7rem;
  padding-bottom: 4rem;
  background-color: #222222;
  background-image: url("img/sec-06/bg-sm.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  color: #fff;
}

.sec-06__title {
  font-family: TinkovEB;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.sec-06__subtitle {
  font-family: TinkovEB;
  font-size: pxToRem(20px);
  line-height: 1.5;
  width: 99%;
}

.break {
  display: block;
}

#sec-06 .row [class*=col-]:first-of-type {
  margin-bottom: 2.6rem;
}

// FORM
#sec-12 .row [class*=col-]:first-child {
  margin-bottom: 2.2rem;
}

.sec-12__form {
  padding: 5rem 1.5rem 4.4rem;
  background-color: #fff;
}

.text-input {
  font-family: TinkovL;
  text-indent: 7px;
  color: #28292d;
  border: none;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 2.2rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  &:first-child {
    margin-bottom: 2rem;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid #b39c72;
  }
  &::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
  &:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
  &:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
  &:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
  &:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
}

::-webkit-input-placeholder {
  color: #28292d;
}

::-moz-placeholder {
  color: #28292d;
}

:-ms-input-placeholder {
  color: #28292d;
}

:-moz-placeholder {
  color: #28292d;
}

.btn {
  width: 100%;
  display: block;
  border: none;
  background-color: #28292d;
  color: #fff;
  padding: 1rem 0;
  font-size: pxToRem(14px);
  font-family: TinkovEB;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: opacity .5s linear;
  box-shadow: 0 0 18px 9px #ccc;
  margin-top: .4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  &:hover {
      transition: all .3s;
      background-color: rgb(28, 84, 233);
      box-shadow: 0 0 33.6px 1.4px rgba(28, 84, 233, 0.8);
  }
}

@media (min-width: 768px) {
  #sec-06 {
    padding-top: 8rem;
    background-image: url("img/sec-06/bg-md.png");
  }

  .break {
    display: inline;
  }

  .break-md {
    display: block;
  }

  .sec-06__title {
    font-size: pxToRem(48px);
    margin: 0 auto 2.4rem auto;
    width: 67%;
    padding-left: .7rem;
  }

  .sec-06__subtitle {
    position: relative;
    font-size: pxToRem(24px);
    margin: auto;
    width: 50%;
    padding-left: 3rem;
    line-height: 1.3;
    &::before {
      position: absolute;
      top: .9rem;
      left: -3.1rem;
      display: block;
      content: '';
      width: pxToRem(66px);
      height: 2px;
      background-color: #fff;
    }
    &::after {
      display: block;
      position: absolute;
      bottom: .5rem;
      right: -3.1rem;
      display: block;
      content: '';
      width: pxToRem(108px);
      height: 2px;
      background-color: #fff;
    }
  }

    #sec-06 .row [class*=col-]:first-of-type {
      margin-bottom: 4rem;
    }

    .sec-12__form {
      padding: 5rem 4.1rem 4.4rem;
      width: 64%;
      margin: auto;
    }
}

@media (min-width: 1200px) {
  #sec-06 {
    background-image: url("img/sec-06/bg-lg.png");
    padding-bottom: 7.6rem;
  }
  .sec-06__title {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-bottom: 2.5rem;
  }

  .sec-06__subtitle {
    width: 100%;
    margin: 0;
    padding: 0 7rem 0 6rem;
    &::before {
      left: 0;
      top: .8rem;
      width: pxToRem(68px);
    }
    &::after {
      bottom: .6rem;
      right: -2.3rem;
      width: pxToRem(223px);
    }
  }

  .form-container {
    margin-top: 4.3rem;
    margin-left: .5rem;
  }

  .sec-12__form {
    width: 100%;
    padding: 5rem 6.1rem 4.4rem 6.1rem;
  }
}
