$title-color: #28292d;

@font-face {
  font-family: TinkovEB;
  src: url('fonts/radomir-tinkov-gilroy-extrabold-0.woff') format("woff"),
       url('fonts/radomir-tinkov-gilroy-extrabold-0.woff2') format("woff2");
}

@font-face {
  font-family: TinkovL;
  src: url('fonts/radomir-tinkov-gilroy-light-0.woff') format("woff"),
       url('fonts/radomir-tinkov-gilroy-light-0.woff2') format("woff2");
}
